@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #35536b;
}

header {
  height: 100vh;
  overflow: hidden;
  background: #93cce4;
}

#canvas-parent {
  position: relative;
}

.title {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.title h1 {
  width: 100%;
  text-align: center;
}

nav {
  /* background: #bf4aa8; */
  /* background: #36b2b0; */
  background: #35536b;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #a8c060;
}

#down-chev {
  position: absolute;
  color: white;
  bottom: 40px;
  left: 50%;
  right: 50%;
  font-size: 34px;
  opacity: 0.5;
}

.sec-space {
  padding: 100px 0;
  border-bottom: 1px dashed #35536b;
}

section {
  /* padding: 100px 0; */
  /* border-bottom: 1px dashed #35536b; */
}

section p {
  font-size: 1.6rem;
}

.skill-card {
  border: 1px solid #a8c060;
  padding: 5px;
  border-radius: 3px;
  color: #35536b;
  padding: 10px;
  margin-bottom: 20px;
}

.skill-card h4 {
  margin: 0px;
  color: #a8c060;
  /* text-align: center; */
}

.project-cont {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow: hidden;
}

.project-cont img {
  width: 100%;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  /* border-right: 1px solid lightgray; */
  box-shadow: 0 0 1px lightgray;
}

.project-cont .pright {
  padding: 10px;
  font-size: 1.6rem;
  position: relative;
}

.project-cont .pright .view {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.project-cont .pright .mobile-btn {
  background: #a8c060;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 3px;
  display: none;
}

/* Media Queries */

/* @media all and (device-width: 414px) and (device-height: 896px) and (orientation: portrait) {
  header {
    height: 896px;
  }
} */

@media (max-width: 1000px) {
  .sec-space {
    padding: 50px 0;
  }

  .project-cont {
    display: block;
    margin-bottom: 35px;
  }

  .project-cont .pright {
    position: static;
  }

  .project-cont img {
    max-width: none;
    max-height: none;
  }

  .project-cont .manaje-img {
    content: url("Manaje-mobile.png");
  }

  .project-cont .insta-img {
    content: url("Insta-mobile.png");
  }

  .project-cont .training-img {
    content: url("Training-mobile.png");
  }

  .project-cont .pright .view {
    display: none;
  }

  .project-cont .pright .mobile-btn {
    display: block;
  }
}

@media (max-width: 549px) {
  nav {
    text-align: center;
    padding: 20px 0;
  }

  .skill-card {
    border-radius: 0px;
    margin: 0px;
    border: none;
    border-bottom: 1px solid #a8c060;
  }
}

@media (max-width: 407px) {
  nav a {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  section {
    padding: 0 10px;
  }
}
